[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test Git
[access "refs/*"]
	owner = group user/lambertpark (lambertpark)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lambertpark (lambertpark)
	label-Verified = -1..+1 group user/lambertpark (lambertpark)
	push = group user/lambertpark (lambertpark)
	read = group user/lambertpark (lambertpark)
	rebase = group user/lambertpark (lambertpark)
	removeReviewer = group user/lambertpark (lambertpark)
	submit = group user/lambertpark (lambertpark)
[access "refs/heads/*"]
	create = group user/lambertpark (lambertpark)
	push = +force group user/lambertpark (lambertpark)
	pushMerge = group user/lambertpark (lambertpark)
	read = group user/lambertpark (lambertpark)
[access "refs/tags/*"]
	push = group user/lambertpark (lambertpark)
	push = +force group user/lambertpark (lambertpark)
